@charset "utf-8";

@font-face {
    font-family: roboto;
    src: url(fonts/roboto.ttf);
}

@font-face {
    font-family: mohave;
    src: url(fonts/mohave-medium.otf);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    transition-timing-function: cubic-bezier(0, 0, 0, 1) !important;
    animation-timing-function: cubic-bezier(0, 0, 0, 1) !important;
}

p {
    margin: 0px;
    color: white;
    font-size: 30px;
}

body {
    font-family: benton-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

h1 {
    font-family: input-mono, monospace;
    font-weight: 400;
    font-style: italic;
    color: white;
    font-size: 80px;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: input-mono, monospace;
    font-weight: 400;
    font-style: italic;
    color: white;
    font-size: 50px;
}

b {
    font-weight: 700;
}

.sub-title {
    color: white;
}

#header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

#title {
    margin: 0px 0px 20px 0px;
}

#header-content {
    z-index: 2;
}

#header-content p {
    text-align: center;
}

#title span {
    display: none;
}

#main {
    padding: 5% 5% 1% 5%;
}

.main-block {
    margin-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
}

.block-title {
    margin-top: 0px;
    width: 100%;
}

.block-content {
    width: 100%;
}

#skills-block {
    display: flex;
}

.skills-list {
    color: white;
    font-size: 30px;
    margin: 0px 20px 0px 0px;
    padding-left: 30px;
}

.project-image {
    width: 100%;
    vertical-align: middle;
}

.project-url {
    font-size: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.project-desc p {
    font-size: 20px;
}

.project-tags {
    padding: 5px 0px;
}

.skill-tag {
    padding: 5px 10px;
    font-family: input-mono, monospace;
    border-radius: 1px;
    font-weight: 400;
}

.skill-tag.html {
    background-color: #EA6228;
}

.skill-tag.css {
    background-color: #28A4D9;
}

.skill-tag.js {
    background-color: #F0D91D;
}

#contact p {
    font-size: 20px;
    margin-bottom: 5px;
}

#contact p:nth-of-type(2) {
    margin-top: 20px;
}

#contact input {
    color: white;
    border-width: 0px 0px 0px 1px;
    border-color: white;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px;
}

#message-box {
    color: white;
    border-width: 0px 0px 0px 1px;
    border-color: white;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 150px;
    vertical-align: top;
    margin-bottom: 20px;
    padding: 5px;
}

#submit {
    padding: 5px;
    font-size: 15px;
}

#footer {
    color: white;
    text-align: center;
}

#footer p {
    font-size: 18px !important;
}

#footer a {
    text-decoration: underline;
}

#background {
    width: 100%;
    min-height: 1000vh;
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    background-color: #07070a;
    background-image: url(texture.svg), url(topography.svg);
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@media (min-width: 800px) {
    #title br {
        display: none;
    }

    #title span {
        display: inline !important;
    }

    #header-content p {
        text-align: end !important;
    }

    .project {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 40% 1fr;
        grid-template-rows: auto;
    }
}

@media (min-width: 1200px) {
    .block-title {
        width: 40% !important;
    }

    .block-content {
        width: 60% !important;
        margin-top: 5px !important;
    }

    .main-block {
        flex-wrap: nowrap;
    }

    h2 {
        margin: 0px 5% 0px 0px;
        text-align: right;
    }

    .skills-list {
        margin: 0px 40px 0px 0px;
        padding-left: 40px;
    }
}