html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    transition-timing-function: cubic-bezier(0, 0, 0, 1) !important;
    animation-timing-function: cubic-bezier(0, 0, 0, 1) !important;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

h1 {
    color: #222C35;
    display: inline-block;
    font-family: input-mono, monospace;
    font-weight: 800;
    font-style: italic;
    font-size: 40px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    width: 100%;
    background-color: rgb(248, 248, 248);
}

nav {
    border-bottom: 1px solid rgb(210, 210, 210);
}

#nav_title {
    color: #222C35;
    font-family: input-mono, monospace;
    font-weight: 800;
    font-style: italic;
    font-size: 20px;
}

#nav_title span {
    color: #eda700;
}

nav ul {
    height: 48px;
    margin: auto;
    width: 1072px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul a {
    color: #2E383D;
}

#socials {
    display: flex;
}

#socials li {
    margin-left: 10px;
}

#socials li img {
    height: 16px;
}

main {
    display: flex;
    justify-content: center;
}

#container {
    width: 1072px;
}

.title {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.rule {
    margin: 0px 0px 0px 16px;
    height: 4px;
    width: auto;
    flex-grow: 1;
    border: 0px;
    background: #eda700;
}

.row {
    /* display: grid;
    grid-template-columns: 256px 256px 256px 256px;
    grid-gap: 16px 16px;
    justify-content: center;
    margin-bottom: 16px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: -8px;
}

.box {
    margin: 8px;
}

.g2 {
    grid-column-end: 2;
}

.g3 {
    grid-column-start: 1;
    grid-column-end: 4;
}

footer {
    margin-top: 64px;
    border-top: 1px solid rgb(210, 210, 210);
    height: 48px;
}

#socials a:hover .light {
    display: inline-block;
}

#socials li:hover .dark {
    display: none;
}

.dark {
    display: inline-block;
}

.light {
    display: none;
}