@import "tailwindcss";

body {
    background-color: var(--color-slate-900);
    font-family: Roboto;
    color: var(--color-gray-50);
}

.page {
    max-width: var(--breakpoint-lg);
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
}

.title {
    font-family: ArealMono;
    font-weight: bold;
    font-style: italic;
}

h1 {
    font-family: input-mono;
    font-weight: bold;
    font-style: italic;
}

.small-title {
    font-family: input-mono;
    font-weight: bold;
    font-size: 0.8rem;
    font-style: normal;
    text-transform: uppercase;
    color: var(--color-slate-400);
}

.main-button {
    font-family: input-mono;
    font-weight: bold;
    background-color: var(--color-sky-700);
    padding: 6px 12px;
    border-radius: 4px;
}

.main-button:hover {
    background-color: var(--color-sky-600);
}

.workpage-link {
    color: var(--color-sky-500);
}
.workpage-link:hover {
    color: var(--color-sky-400);
    text-decoration: underline;
}
